$TTL    604800
@       IN      SOA     ocp-svc.devops.lab. contact.devops.lab (
                  1     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Minimum
)
        IN      NS      ocp-svc

ocp-svc.devops.lab.          IN      A       192.168.2.10

; Temp Bootstrap Node
ocp-bootstrap.devops.lab.        IN      A      192.168.2.200

; Control Plane Nodes
ocp-cp-1.devops.lab.         IN      A      192.168.2.201
ocp-cp-2.devops.lab.         IN      A      192.168.2.202
ocp-cp-3.devops.lab.         IN      A      192.168.2.203

; Worker Nodes
ocp-w-1.devops.lab.        IN      A      192.168.2.211
ocp-w-2.devops.lab.        IN      A      192.168.2.212

; OpenShift Internal - Load balancer
api.devops.lab.        IN    A    192.168.2.10
api-int.devops.lab.    IN    A    192.168.2.10
*.apps.devops.lab.     IN    A    192.168.2.10

; ETCD Cluster
etcd-0.devops.lab.    IN    A     192.168.2.201
etcd-1.devops.lab.    IN    A     192.168.2.202
etcd-2.devops.lab.    IN    A     192.168.2.203

; OpenShift Internal SRV records (cluster name = lab)
_etcd-server-ssl._tcp.devops.lab.    86400     IN    SRV     0    10    2380    etcd-0.lab
_etcd-server-ssl._tcp.devops.lab.    86400     IN    SRV     0    10    2380    etcd-1.lab
_etcd-server-ssl._tcp.devops.lab.    86400     IN    SRV     0    10    2380    etcd-2.lab

oauth-openshift.apps.devops.lab.     IN     A     192.168.2.10
console-openshift-console.apps.devops.lab.     IN     A     192.168.2.10